<!DOCTYPE html>
<html>
  <% include _head %>
  <body>
    <div class="container">
      <% include _header %>
      <div class="row">
        <div class="col content gbbs">
          <p><% include _disclaimer %></p>
          <pre><% result %></pre>
          <p><% include _automation-intro %></p>
          <div id="energy_chart"></div>
          <p>Rooms and devices:</p>
          <dl>
          <% for ( var room in config.room ) { %>
            <dt><a href="/automation/<%= room %>/"><%= room %></a></dt>
            <dd style="display: none">
              <dl>
              <% for ( var i in config.room[room] ) { %>
                <dt><a href="/automation/<%= room %>/<%= config.room[room][i] %>/"><%= config.room[room][i] %></a></dt>
                <dd style="display: none">
                  Turn <%= room %> <%= config.room[room][i] %>
                  <a class="ajax" href="/automation/<%= room %>/<%= config.room[room][i] %>/on.js">on</a>
                  or
                  <a class="ajax" href="/automation/<%= room %>/<%= config.room[room][i] %>/off.js">off</a>
                  here!
                </dd>
              <% } %>
              </dl>
            </dd>
          <% } %>
          </dl>
        </div>
        <% include _sidebar %>
      </div>
    </div>
    <% include _graphs %>
  </body>
</html>
