<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <% include header %>
      <div class="row">
        <div class="col content gbbs">
          <p><% include disclaimer %></p>
          <pre><% result %></pre>
          <p><% include automation-intro %></p>
          <div id="energy_chart"></div>
          <p>Rooms and devices:</p>
          <dl>
          <% for ( var room in config.room ) { %>
            <dt><a href="/automation/<%= room %>/"><%= room %></a></dt>
            <dd style="display: none">
              <dl>
              <% for ( var i in config.room[room] ) { %>
                <dt><%= config.room[room][i].name %></dt>
                <dd style="display: none">
                  In theory you could be turning <%= room %> <%= config.room[room][i].name %>
                  <a class="ajax" href="/automation/<%= room %>/<%= config.room[room][i].name %>/on.js">on</a>
                  or
                  <a class="ajax" href="/automation/<%= room %>/<%= config.room[room][i].name %>/off.js">off</a>
                  here!
                </dd>
              <% } %>
              </dl>
            </dd>
          <% } %>
          </dl>
        </div>
        <% include sidebar %>
      </div>
    </div>
    <% include graphs %>
  </body>
</html>
